[Desktop Entry]
Encoding=UTF-8
Name=PedrosPesos
Comment=Core wallet for PedrosPesos P2P Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung PedrosPesos
Exec=/usr/bin/PedrosPesos-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/PedrosPesos.png
MimeType=x-scheme-handler/PedrosPesos;
Categories=Application;Network;
